
<div class="container">
  <%=  form_for(@appointment) do |f| %>
    <div class="field">
      <%= f.text_field :practice_email, :required => true, autofocus: true, class: 'form-control mb-2', placeholder: 'Practice Email' %>
    </div>
    <div class="field">
      <%= f.datetime_field :appt_start, :required => true, autofocus: true, class: 'form-control mb-2', placeholder: 'Appointment time' %>
    </div>
    <div class="field">
      <%= f.number_field :duration, autofocus: true, class: 'form-control mb-2', placeholder: 'Duration' %>
    </div>

    <div class="field">
      <%= f.text_field :description, class: 'form-control mb-2', placeholder: 'Description' %>
    </div>
    <div class="actions">
      <%= f.submit "Create Appointment", class:'col btn btn-info btn-round btn-lg text-center mt-4' %>
    </div>
    <% end %>
</div>
