<br>
<br>
<br>
<br>

<p id="notice"><%= notice %></p>

<h1>Medical Records</h1>

<%= link_to 'New Medical Record', new_medical_record_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>View</th>
      <th>Download</th>
      <th>Date Created</th>
    </tr>
  </thead>

  <tbody>
    <% current_patient.medical_records.each do |medical_record| %>
      <tr>
        <td><%= medical_record.title %></td>
        <td><%= link_to "View File", medical_record.file %></td>
        <td><%= link_to "Download File", medical_record.file, download: '' %></td>
        <td><%= medical_record.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


