<div class="section-signup mt-0">
  <div class="container mb-5 ">
    <%= render 'layouts/alert' %>
    <h3 class="font-weight-bold mb-0 pb-0">New Medical Record:</h3>
    <%= link_to 'Edit Your Profile', edit_patient_registration_path, {:class=>'nav-link font-weight-bold'} %>

    <div class="text-secondary mt-3">

      <%= form_with(model: @medical_record, url: {action: "create"}, local: true) do |form| %>
        <% if @medical_record.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

            <ul>
              <% @medical_record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= label_tag(:q, "Select the corresponding practice for this medical record:") %>
          <%= form.select :practice_email, options_for_select(@doctor_choices, :selected => params[:practice_email]), {}, { :class => 'form-control mb-2'}%>
        </div>

        <div class="field row">
          <div class="col">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control mb-2', placeholder: 'Record Title'%>
          </div>
          <div class="col">
          <%= form.label :file %>
          <%= form.file_field :file, class: 'form-control mb-2 text-center bg-warning'%>
          </div>
        </div>

        <div class="field">

        </div>

        <div class="actions">
          <%= form.submit "Add new record.", class:'col btn btn-info btn-round btn-lg text-center mt-4', data: { disable_with: "Saving..." } %>

        </div>
      <% end %>


      <%= link_to 'Back', medical_records_path, class: 'form-control mb-2 text-center mt-2' %>

    </div>
  </div>
</div>

<div  class="pt-5 pb-5"></div>
<div  class="pt-5 pb-5"></div>
<div  class="pt-5 pb-5"></div>
