<br>

<div class="header">New Medical Record</div>

<div class="new_med_rec_form">
<%= form_with(model: @medical_record, url: {action: "create"}, local: true) do |form| %>
  <% if @medical_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
        <% @medical_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag(:q, "Select the corresponding medical practice for this medical record:") %>
    <%= form.select :patient_email, options_for_select(@patient_choices, :selected => params[:patient_email]), {}, { :class => 'form-control mb-2'}%>
  </div>

  <div class="field">
    <%= form.text_field :title, class: 'form-control mb-2', placeholder: 'Title' %>
  </div>

  <label class="btn btn-default">
  <div class="field">
    <%= form.file_field :file %>
  </div>
  </label>

  <div class="actions">
    <%= form.submit "Create Medical Record", class:'col btn btn-info btn-round btn-md text-center mt-4' %>
  </div>
<% end %>
</div>

<div class="back">
<%= link_to 'Cancel', medical_records_path, class:'btn red-btn btn-sm text-center' %>
</div>
