<br>
<br>
<br>
<br>

<p id="notice"><%= notice %></p>

<h1>Medical Records</h1>

<%= link_to "New Medical Record", new_medical_record_path %>

<% if false %>
<%= button_to("New Medical Record", new_medical_record_path, :method => :get, :form_class => "new_med_button") %>
<% end %>

<table class="medical_records">
  <thead>
    <tr>
      <th>Title</th>
      <th>Patient</th>
      <th>Date Created</th>
      <th>View</th>
      <th>Download</th>
      
    </tr>
  </thead>

  <tbody>
    <% current_practice.medical_records.each do |medical_record| %>
      <tr>
        <td><%= medical_record.title %></td>
        <td><%= medical_record.patient_email %></td>
        <td><%= medical_record.created_at %></td>
        <td><%= link_to "View File", medical_record.file if medical_record.file.attached? %></td>
        <td><%= link_to "Download File", medical_record.file, download: '' if medical_record.file.attached? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


