<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="layout">
  <div class="cal-container">
    <div class="app-section">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <%= @appointment.errors.full_messages.first if @appointment.errors.any? %>
      <aside class="">
        <section>
          <%= render :partial => 'patients/shared/appointment', :formats => [:html] %>
        </section>
      </aside>
    </div>

    <div class="cal-section">
      <%= week_calendar events: @appointments do |date, appointments| %>

        <% appointments.each do |appointment| %>
          <div class="appointment<%= highlight_appointment(appointment) %>" style="<%= appointment_position(appointment) %> <%= appointment_height(appointment) %>">
            <%= link_to(appointment_text(appointment)) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
