<div class="section-signup mt-0">
  <div class="container mb-5 ">
    <%= render 'layouts/alert' %>
    <h3 class="font-weight-bold mb-0 pb-0">Your Profile:</h3>
    <%= link_to 'Edit Your Profile', edit_practice_registration_path, {:class=>'nav-link font-weight-bold'} %>

    <div class="text-secondary mt-3">

      <b>Full Name: </b><%= fullname(current_practice)%>
      <br />
      <b>Email: </b><%= current_practice.email %>
      <br />

      <b>Medical School: </b><%= current_practice.med_school %>
      <br />
      <b>Phone Number: </b><%= number_to_phone(current_practice.phone_number, area_code: true) %>
      <br />
      <br />
      <b>Full Address: </b>
      <br />
      <%= current_practice.street_address %>
      <br />
      <%= fullAddress(current_practice)%>
      <br />
      <br />

      <b>Medical Records: </b>

    </div>
  </div>
</div>
