<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Necessary for notifications navbar... Possibly remove at later date? Notsure if having these are the best for security -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!--    <script src="<%#= asset_path './././assets/javascripts/notifications.js.coffee' %>"></script>-->
    <script>  // Code adapted from https://github.com/excid3/gorails-episode-124
        class Notifications {
            constructor() {
                this.handleSuccess = this.handleSuccess.bind(this);
                this.notifications = $("[data-behavior='notifications']");
                this.getNewNotifications();  // Run immediately

                if (this.notifications.length > 0) {
                    this.handleSuccess(this.notifications.data("notifications"));
                    $("[data-behavior='notifications-link']").on("click", this.handleClick);

                    setInterval((() => {
                            return this.getNewNotifications();
                        }
                    ), 5000);
                }
            }

            getNewNotifications() {
                console.log("Inside getNewNotificatons")
                return $.ajax({
                    url: "/notifications.json",
                    dataType: "JSON",
                    method: "GET",
                    success: this.handleSuccess
                });
            }

            handleClick(e) {
                $.ajax({
                    url: "/notifications/mark_as_read",
                    dataType: "JSON",
                    method: "POST",
                    success: $("[data-behavior='unread-count']").text(0)
                });
            }

            handleSuccess(data) {
                console.log("Inside handle success")
                console.log(data)
                // const items = $.map(data, notification => notification.template);
                const items = $.map(data, notification =>
                    "<a class='dropdown-item' href='#'>" + notification.notifiable_type + " " + notification.action + " with "
                    + notification.actor.first_name + " " + notification.actor.last_name + "</a>");

                let unread_count = 0;
                $.each(data, function(i, notification) {
                    if (notification.unread) {
                        return unread_count += 1;
                    }
                });

                $("[data-behavior='unread-count']").text(items.length);
                return $("[data-behavior='notification-items']").html(items);
            }
        }

        jQuery(() => new Notifications);
    </script>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>

<%= debug(params) if Rails.env.development? %>
