<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if (controller.controller_name != "static_pages") \
      and !current_page?(new_patient_session_path) \
      and !current_page?(new_practice_session_path) \
      and !current_page?(new_patient_registration_path) \
      and !current_page?(new_practice_registration_path) \
      %>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/alert' %>
    <% else %>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent ">
        <div class="container">
          <div class="navbar-translate">
            <%= link_to root_url, {:class => "navbar-brand", 'rel'=> "tooltip", 'title'=> "Medio", 'data-placement' => "Bottom"} do %>
              <h2><span>Medio</span></h2>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
